@import 'reset';

/**
 * Custom style
 */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #F0F0F5;

  h1 {
    font-family: serif;
    font-size: 7vw;
    color: #0073aa;

    &::after {
      content: '';
      display: block;
      width: 10vw;
      height: 2px;
      margin: 0 auto;
      background-color: #0073aa;
    }
  }
}
